* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
.game-area {
  display: flex;
  background-color: #fcfcfc;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.keyboard {
}

.row {
  text-align: center;
  margin: 10px;
}

.key {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px dashed rgb(250, 171, 171);
  transition: 0.5s;
}

.key:hover {
  background-color: #8119c7;
  color: #fff;
  font-size: larger;
  border: none;
  border-radius: 20px;
}
.active {
  background-color: #8119c7;
  color: #fff;
}
.word-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.word-letter {
  color: black;
  font-size: 2.5rem;
  padding: 20px;
}
.correct {
  background-color: lawngreen;
  pointer-events: none;
}
.wrong {
  pointer-events: none;
  background-color: red;
}
.hide {
  display: none;
}

button {
  background-color: #fff;
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
}
.inputBtn:hover {
  background-color: rgb(141, 197, 84);
}
.apiBtn:hover {
  background-color: rgb(91, 91, 192);
}
p {
  display: none;
  padding: 50px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.guessBtns {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 10px;
}
label {
  padding: 5px;
}
img {
  width: 360px;
  padding: 15px;
}
